.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(22, 28, 36);
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    color: rgb(249 250 251) !important;
  }
}
